body {
   background: url(pictures/75.jpg);
   background-size: 100%;
}

#board {
   border: 4px solid #FFD5BB;
   border-radius: 10px;
   background-color: #FFD5BB;
   height: 500px;
   width: 485px;
   margin: auto;
   margin-top: 80px;
   display: flex;
   flex-wrap: wrap;
}

#button {
   border: 1px;
   border-radius: 90px;
   background-color: #52227B;
   height: 180px;
   width: 180px;
   margin-top: 65px;
   margin-left: 700px; 
   justify-content: center;
   float: left;
   color:#FFE4C4;
   font-size: 55px;
   font-family: "Art-Victorian", sans-serif;
   box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

p {
   margin-left: 1000px;
   color:#FFE4C4;
   font-family: "Art-Victorian", sans-serif;
}

#currentScore {
   border: 4px solid #FFD5BB;
   border-radius: 10px;
   background-color: #FFD5BB;
   height: 50px;
   width: 190px;
   font-size: 50px;
   text-align: center;
   font-family: "Art-Victorian", sans-serif;
   margin-left: 1000px; 
}

#totalScore {
   border: 4px solid #FFD5BB;
   border-radius: 10px;
   background-color: #FFD5BB;
   height: 50px;
   width: 190px;
   font-size: 50px;
   text-align: center;
   font-family: "Art-Victorian", sans-serif;
   margin-left: 1000px; 
}

.number {
   background-color:#FFD5BB ;
   width: 100px;
   height: 100px;
   margin: 10px;
   font-size: 70px;
   text-align: center;
   font-family: "Art-Victorian", sans-serif;
   color: #52227B;
}

@font-face {
   font-family: Art-Victorian; 
   src: url("../fonts/Art-Victorian.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
   } 